/* Fixed column sizing */
.ipsColumns {
	display: flex;
	flex-wrap: wrap;
}

.ipsColumns__primary{
	flex: 9999 1 50%;
}

.ipsColumns__secondary{
	flex: 1 1 18em;
	background: var(--i-background_2);
	border-inline-end: 1px solid var(--i-background_4);
	border-end-start-radius: var(--i-box--bo-ra); /* Prevent overflowing of border-radius */
}

.ipsColumn_medium {
	flex: 1 1 200px;
}

.ipsColumn_wide {
	flex: 1 1 280px;
}

.i-margin-top_1{ margin-top: .5em; }
.i-margin-top_2{ margin-top: 1em; }
.i-margin-top_3{ margin-top: 2em; }
.i-margin-top_4{ margin-top: 3em; }
.i-margin-top_5{ margin-top: 4em; }
.i-margin-bottom_1{ margin-bottom: .5em; }
.i-margin-bottom_2{ margin-bottom: 1em; }
.i-margin-bottom_3{ margin-bottom: 2em; }
.i-margin-bottom_4{ margin-bottom: 3em; }
.i-margin-bottom_5{ margin-bottom: 4em; }

.i-padding_1{ padding: .5em; }
.i-padding_2{ padding: 1em; }
.i-padding_3{ padding: 2em; }
.i-padding_4{ padding: 3em; }
.i-padding_5{ padding: 4em; }